venv/
*.lib
*.dll
*.so
*.pkl
*.h5
*.pt
*.pth
*.ckpt
*.log
docker/*.log
frontend/build/
node_modules/
__pycache__/
*.pyc
.env
__pycache__/
*.pyc
.env
node_modules/
build/
dist/
frontend/build/
*.db
*.sqlite3
.DS_Store
docker/*.log
