venv/
.venv/
env/
__pycache__/
*.pyc
*.pkl
*.h5
*.ckpt
model_*/
models/
notebooks/
notebooks/*.ipynb
tokenizers/
tokenizers/*
nltk_data/
processed/
data/*.csv
data/*.parquet
data/*.zip
data/WELFake_Dataset.csv
data/Fake.csv
data/True.csv
frontend/node_modules/
node_modules/
.vscode/
vscode-server.tar.gz
.DS_Store
/.env
*.sqlite3